body {
    margin: 0;
    padding: 0;
    background: url("../img/fondo_futbol.jpg") center/cover no-repeat fixed;
    font-family: "Segoe UI", Arial, sans-serif;
    color: white;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    padding: 40px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    width: 450px;
}


.title {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ffffff;
    text-shadow: 0px 0px 12px black;
}

.btn-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn {
    padding: 15px;
    background-color: #009432;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
    border: 2px solid white;
}

.btn:hover {
    background-color: #006f25;
    transform: scale(1.07);
}
